{% extends 'technodevicesApp/base.html' %}


{% block js %}

<script>
    function eliminarProducto(id){
        Swal.fire({
            "title": "¿Estas seguro?",
            "texto": "Esta accion no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, eliminar",
            "confirmButtonColor": "#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/eliminar-producto/"+id+"/"
            }
        })
    }
</script>

{% endblock %}

{% block contenido %}
{% load humanize %}
<br>
<br>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center">
        <h2>Listado de productos</h2>
        </div>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Fecha Publicación</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>Es nuevo?</th>
                <th>Opciones</th>
            </tr>
        
        {% for p in entity %}
        
            <tr>
        
            <td>{{p.fecha_publicacion | title }}</td>
            <td>{{p.nombre | title }}</td>
            <td>$ {{p.precio | intcomma }}</td>
            <td>{{p.marca | title }}</td>

            <td>
            {% if p.nuevo %}
            SI
            {% else %}
            NO
            {% endif %}
            </td>

            <td>
                {% if perms.technodevicesApp.change_producto %}
                <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">modificar</a>
                {% endif %}

                {% if perms.technodevicesApp.delete_producto %}
                <a href="#" onclick="eliminarProducto({{p.id}})" class="btn btn-danger btn-sm">eliminar</a>
                {% endif %}

            </td>
        </tr>
        
        {% endfor %}
        
        </table>
        <div>
            {% include 'technodevicesApp/paginator.html' %}
        </div>
    </div>
</div>



{% endblock %}