{% extends 'technodevicesApp/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}

<br>
<div class="d-flex justify-content-center"></div>
<div class="row">
    <div class="d-flex justify-content-center">
        <h2>Modificar Producto</h2>
    </div>

    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="car-body">

                <form action="" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{form | crispy}}

                    <br>
                    <br>

                    <input type="reset" value="Cancelar" , class="btn btn-secondary">
                    <input type="submit" value="Modificar" , class="btn btn-primary">

                </form>
                {{mensaje}}
            </div>

        </div>
    </div>
</div>
</div>

{% endblock %}