<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Ingreso al sistema</title>
</head>

<body>
    {% load crispy_forms_tags %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <hr>
                        <form action="" method="post">

                        {% csrf_token %}

                        {{form | crispy}}
                        <br>
                        <input type="submit" value="ingresar" class="btn btn-success float-right">
                        <br>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'home' %}">ir al home</a> 
                            &nbsp;
                            |
                            &nbsp;
                            <a href="{% url 'registro' %}">registrarme</a>
                        </div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>