<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoDevices</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'technodevicesApp/css/estilos.css' %}">
    
</head>
<body>

    
    <header id="header">
        <img class="menu" src="{% static 'technodevicesApp/img/menuiconwhite.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <a href="{% url 'home' %}"><img  class="logo"  src="{% static 'technodevicesApp/img/tecnomarketpngicono.png' %}" alt="logo"></a>
            
        </div>

        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}"> Inicio </a>
                    </li>
                    <li>
                        <a href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li><a href="{% url 'galeria' %}">Galería</a></li>
                    




                        {% if perms.technodevicesApp.add_producto %}
                            <li>
                                 <a href="{% url 'agregar_producto' %}">Agregar producto</a>
                            </li>
                        {% endif %}

                        {% if perms.technodevicesApp.view_producto %}
                        <li>
                            <a href="{% url 'listar_productos' %}">Mis productos</a>
                        </li>
                        {% endif %}
                        


                                           

                    {% if user.is_authenticated %}

                    <li>
                        <a href="{% url 'logout' %}">cerrar sesión</a>
                    </li>
                    <li>
                        <a href="#">{{user.username}}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">iniciar sesión</a>
                    <li>
                        <a href="{% url 'registro' %}">Registrarme</a>
                    </li>
                    </li>
                    {% endif %}

                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">


        {% block contenido %}
        {% endblock %}


    </div>


    <footer>
        <div class="marcas">
            <img src="{% static 'technodevicesApp/img/footer/apple.png' %}" alt="apple">
            <img src="{% static 'technodevicesApp/img/footer/lenovo.png' %}" alt="lenovo">
            <img src="{% static 'technodevicesApp/img/footer/microsoft.png' %}" alt="microsoft">
            <img src="{% static 'technodevicesApp/img/footer/samsung.png' %}" alt="samsung">
            <img src="{% static 'technodevicesApp/img/footer/xiaomi.png' %}" alt="xiaomi">
        </div>
        <div class="logo_footer">
            <img src="{% static 'technodevicesApp/img/tecnomarketpngicono.png' %}" alt="logo">
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'technodevicesApp/js/menu.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "felicitaciones",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}


    {% block js %}

    {% endblock %}

</body>
</html>