{% extends 'technodevicesApp/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}

<br>
<div class="card">
    <div class="card-body">
        <h2>Contáctanos!</h2>
        <form action="" method="POST">
            {% csrf_token %}

            {{form | crispy}}

            <br>
            <input type="reset" value="Cancelar" class="btn btn-secondary">
            &nbsp;
            <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
        </form>
        {{mensaje}}
    </div>
</div>

<br>
<br>




<table id="tablacontactos">

</table>

{% endblock %}