{% extends 'technodevicesApp/base.html' %}

{% load static %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}

{% block contenido %}

<h2>Galería de nuestra tienda</h2>
<br><br>
<div class="galeria">
     <a data-fancybox="gallery" href="{% static 'technodevicesApp/img/tienda/tienda1.jpg' %}"><img src="{% static 'technodevicesApp/img/tienda/tienda1.jpg' %}"></a>
     <a data-fancybox="gallery" href="{% static 'technodevicesApp/img/tienda/tienda2.jpeg' %}"><img src="{% static 'technodevicesApp/img/tienda/tienda2.jpeg' %}"></a>
     <a data-fancybox="gallery" href="{% static 'technodevicesApp/img/tienda/tienda3.jpg' %}"><img src="{% static 'technodevicesApp/img/tienda/tienda3.jpg' %}"></a>
     <a data-fancybox="gallery" href="{% static 'technodevicesApp/img/tienda/tienda4.jpg' %}"><img src="{% static 'technodevicesApp/img/tienda/tienda4.jpg' %}"></a>
     <a data-fancybox="gallery" href="{% static 'technodevicesApp/img/tienda/tienda5.jpg' %}"><img src="{% static 'technodevicesApp/img/tienda/tienda5.jpg' %}"></a>     
</div>

{% endblock %}